
body {
	font-family: arial, Helvetica Neue, helvetica, sans-serif;
}


ul {
	font-size: .75em;
	margin-bottom:0;
	font-family: arial, Helvetica Neue, helvetica, sans-serif;
}

a:hover {
	text-decoration: none;
}

.panel-heading {
	width:100%;
	text-align: center;
	background-color:#5d4172;
	color:white;
}

.container-fluid {
	padding:0px;
	margin:0px;
}

.greenBehind {
	background-color: #67aada;
	height: 100%;
	margin-left: 1em;
	padding: 20px;
	font-family: Georgia, Times, "Time New Roman", serif;
	font-weight: bold;
	color: white !important; /* !important overrides navbar-light default */
	text-align: center;
}

.nav-link {
	margin-top:4%;
	font-family: arial, Helvetica Neue, helvetica, sans-serif;
	font-size: 2em;
	float:right !important;
	text-align: center;
	width:100%;
	color:#5d4172;
}
a:not([href]):not([tabindex]) {
	color:#5d4172;
}

.iconStyle {
	margin-top:2%;
	font-family: arial, Helvetica Neue, helvetica, sans-serif;
	font-size: 1em;
	float:right !important;
	text-align: center;
	width:25%;
}

li {
	list-style: none;
   }

.navbar-brand {
	padding-left:1%;
}
#border {
	width:100%;
	font-size: 20px;
	color:#5d4172;
}

.navbar-default {
	padding-bottom:1%;
}

.content-box {
	background-color: black#ffffff;
}

.panel-title  {
	margin-top:2px;
	padding:7px;
	color:white;
	background-color:#5d4172;
}

.jumbotron {
	width:100%;
	margin-bottom:0px;
	background-image: url(spacetextures.jpg);
}

/* Main Content Box */
.main {
	width: 100%;
}
.me {
	width:25%;
	float:left;
	padding-right:2%;
}

.icon {
	margin-top:-5px;
}
/* Small Connect with Me Box */
.connect {
	width: 100%;
}

/* About Me Image */
.profile {
	width:100%;
	margin-bottom: 5%;
}

.icons {
	font-size: 12px;
	width:100%;
}

/* Main Section / Large White Box */
h2 {
	font-family: Georgia, Times, Time New Roman, serif;
	font-weight:bold;
	font-size: 1.5em;
	color: #67aada;
}
h4 {
	font-size:1em;
	padding:5%;
}

hr {
	background-color:#5d4172;
	margin-bottom: 5%;
}

section{
	margin:2%;
}
.menuItem{
	width:200px;
	padding:2%;
}
.firstParagraph {
	text-shadow: 2px 2px 8px #000000;
	line-height: 1.5;
	font-size:1em;
	text-align: left;
	width:100%;
	margin: 0 0 0 0;
	float:left;
	color: white;
}

/* Content for Contact Page */
textarea {
	height: 200px;
	width:100%;
}

input {
	height:5em;
	width:100% ;
	margin-bottom: 10px;
}

.submitButton {
	width:20%;
	height:35px;
	color: white;
	border:none;
	margin-top:20px;
	background-color: #4aaaa5;
}

/*Contact Page Titles */
.text {
	line-height: 1.5;
	font-size:16px;
	text-align: left;
	position: relative;
}

/* Footer */
.footer {
	background-color: #5d4172;
	text-align: center;
	color: white;
	font-size: 12px;;
	border-color:#67aada;
	border-width: 5px 0 0 0;
	border-style: solid;
	padding:35px;
	width:100%;
}

.btn {
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    transform: scale(1.05);
}

.menuItem {
    transition: all 0.3s ease-in-out;
}

.menuItem:hover {
    transform: scale(1.1);
}